<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ecloud.mapper.ReliefValveMapper">
    
    <resultMap type="ReliefValve" id="ReliefValveResult">
        <result property="reliefValveId"    column="RELIEF_VALVE_ID"    />
        <result property="stationId"    column="STATION_ID"    />
        <result property="valveStatus"    column="VALVE_STATUS"    />
        <result property="openValveP"    column="OPEN_VALVE_P"    />
        <result property="closeValveP"    column="CLOSE_VALVE_P"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
    </resultMap>

    <sql id="selectReliefValveVo">
        select RELIEF_VALVE_ID, STATION_ID, VALVE_STATUS, OPEN_VALVE_P, CLOSE_VALVE_P, UPDATE_TIME from c_relief_valve
    </sql>

    <select id="selectReliefValveList" parameterType="ReliefValve" resultMap="ReliefValveResult">
        <include refid="selectReliefValveVo"/>
        <where>  
            <if test="stationId != null  and stationId != ''"> and STATION_ID = #{stationId}</if>
        </where>
        and
        STR_TO_DATE(UPDATE_TIME, '%Y-%m-%d %H:%i:%s') &gt;  date_sub(now(),interval 10 minute)
        and
        STR_TO_DATE(UPDATE_TIME, '%Y-%m-%d %H:%i:%s') &lt;now()
    </select>
    
    <select id="selectReliefValveById" parameterType="String" resultMap="ReliefValveResult">
        <include refid="selectReliefValveVo"/>
        where RELIEF_VALVE_ID = #{reliefValveId}
    </select>
        
    <insert id="insertReliefValve" parameterType="ReliefValve">
        insert into c_relief_valve
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reliefValveId != null">RELIEF_VALVE_ID,</if>
            <if test="stationId != null">STATION_ID,</if>
            <if test="valveStatus != null">VALVE_STATUS,</if>
            <if test="openValveP != null">OPEN_VALVE_P,</if>
            <if test="closeValveP != null">CLOSE_VALVE_P,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reliefValveId != null">#{reliefValveId},</if>
            <if test="stationId != null">#{stationId},</if>
            <if test="valveStatus != null">#{valveStatus},</if>
            <if test="openValveP != null">#{openValveP},</if>
            <if test="closeValveP != null">#{closeValveP},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateReliefValve" parameterType="ReliefValve">
        update c_relief_valve
        <trim prefix="SET" suffixOverrides=",">
            <if test="stationId != null">STATION_ID = #{stationId},</if>
            <if test="valveStatus != null">VALVE_STATUS = #{valveStatus},</if>
            <if test="openValveP != null">OPEN_VALVE_P = #{openValveP},</if>
            <if test="closeValveP != null">CLOSE_VALVE_P = #{closeValveP},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
        </trim>
        where RELIEF_VALVE_ID = #{reliefValveId}
    </update>

    <delete id="deleteReliefValveById" parameterType="String">
        delete from c_relief_valve where RELIEF_VALVE_ID = #{reliefValveId}
    </delete>

    <delete id="deleteReliefValveByIds" parameterType="String">
        delete from c_relief_valve where RELIEF_VALVE_ID in 
        <foreach item="reliefValveId" collection="array" open="(" separator="," close=")">
            #{reliefValveId}
        </foreach>
    </delete>
    
</mapper>